[common]
pkgname="$pkgprefix""$perlpkgname"
name="$topdir"
pkgver="$pkgver"
pkgvendor="http://www.cpan.org"
shortdesc="A suite of small programs to help manage perl modules"

[base]
subsys=sw.base
files(-,root,sys)
$_sharedir
